
<div class="row">         
  <li >
    <div class="panel panel-default box-shadow--6dp">
      <div class="panel-body">
        
        <%= link_to comment.user.name, comment.user %><br>
        <%= comment.content %><br>        
        <div class="contentcontainer med left" style="float: right">
          <i>Posted <%= time_ago_in_words(comment.created_at) %> ago.</i>
        </div>
          <% if current_user?(comment.user) %>
          <%= link_to "delete", comment, method: :delete,data: { confirm: "You sure?" } %>
          <% end %>
        
      </div>
      </div> 
  </li> 
</div>