<li>
  <!-- gravatar_for user, size: 50  -->
  <h5><%= link_to user.name, user  %></h5><p>
  <% if current_user.trainer? && !current_user?(user) %>
   <%= link_to "Delete", user, method: :delete,
                                  data: { confirm: "You sure?" },
                                  class: "btn btn-danger btn-xs"%>   
    
  <% end %>
  | <%= link_to "Message", "#", class: "btn btn-default btn-xs start-conversation",
                    "data-sid" => current_user.id, "data-rip" => user.id %> </p>
</li>