<script >   /*fullCalendar implementation*/
$(document).ready(function() {

    

    $('#calendar').fullCalendar({
    	header: { center: 'month,agendaWeek' },

    	events: "/allappointments.json",
    	eventColor: '#378006',
    	cursor: 'pointer',
    	eventClick: function(calEvent, jsEvent, view) {
        /*var modal = $("#appointment-modal");
       modal.find(".modal-title").html(calEvent.title);
       modal.modal();*/
        window.location = '/appointments/'+calEvent.id
    },
    eventRender: function(event, element) {
        
           element.css('cursor', 'pointer');     
    },      
    eventMouseout: function(calEvent, domEvent) {
    }, 
        views: {
                basic: {                    
                },
                agenda: {                   
                },
                week: {
                	minTime: "7:00",
                maxTime: "22:00",                    
                },
                day: {                    
                }
            }
    })
});</script>				
			<!-- <div class="row">
				<div class="col-md-8 col-xs-push-2">	 -->			
					<div id='calendar'></div>
				<!-- </div>

			</div> -->