 <% provide(:title, @exerciseclass.title) %>
 <h1><%=@exerciseclass.title%></h1>
 <div id="class-show">
      <%= render 'show' %>

    
</div>

<div id="class-modal" class="modal fade"></div>



 


  

    
            
           
     
    